body{
    margin: 0;
    height: 100vh;
    background-color: linear-gradieant(to bottom, #FF9933 33.33%, white 33.33%
    66.66%, #138808 66.66%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-align: center;
}

.ashoka{
    width: 100px;
    height: 100px;
    background: 
    url('https://upload.wikimeadia.org/.wikimeadia/commons/1/17/Ashoka_Chakra.svg') no-repeat center;
    background-size: contain;
}

h1 {
    color: #000080;
    margin-top: 20px;
    
}